<nav class="navbar navbar-grey bg-grey justify-content-between">
  <a class="navbar-brand">Jake's Library</a>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2" type="submit">Search</button>
    <button class=" btn btn-outline-grey my-2" [routerLink]="['/login']">Logout</button>
  </form>
</nav>

<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author Name</th>
      <th scope="col">ISBN Code</th>
      <th scope="col"># of Available Books</th>
      <th scope="col">Publishing Date</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
        
    <tr *ngFor="let book of bookList, let i = index"  (click)="setClickedRow(i)" [class.active]="i == selectedRow">
      <th scope="row">{{book.id}}</th>
      <td>{{book.bookName}}</td>
      <td>{{book.authorName}}</td>
      <td>{{book.isbnCode}}</td>
      <td>{{book.availableBooks}}</td>
      <td>{{book.publishingDate}}</td>
      <td>{{book.category}}</td>
    </tr>

    <div class="well well-lg">
      Selected Row : <strong>{{selectedRow}}</strong>
  </div>

  </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col-md-4 addButton">
      <button type="button" class="btn btn-grey btn-md">Add</button>
    </div>
    <div class="col-md-4 editButton">
      <button type="button" class="btn btn-success btn-md" 
     [routerLink]="editPage"
     routerLinkActive="active"
      >Edit</button>
    </div>
    <div class="col-md-4 deleteButton">
      <button type="button" class="btn btn-dark btn-md">Delete</button>
    </div>
</div>
  </div>

  <!--
  <br>
  <hr class="one">
<br>
  <div class="table-responsive">

  <div class="container-fluid">
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
  </div>

    <div class="container users">
      <div class="row">
        <div class="col-6 offset-3">
        <h3>List of Users</h3>
        </div>
      </div>
    </div> 

   <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Dates</th>
      <th scope="col">Category</th>

        </tr>
      </thead>
    <tbody>
      <tr *ngFor="let list of listOfUsers"  (click)="selectlistOfUsers($event, list);" [class.selected]="list.flag === true">
          <td>{{list.id}}</td>
          <td>{{list.name}}</td>
          <td>{{list.author}}</td>
          <td>{{list.totalAmount}}</td>
          <td>{{list.dates}}</td>
          <td>{{list.category}}</td>
      </tr>
    </tbody>
   </table>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-5 issueButton">
      <button type="button" class="btn btn-blue btn-md">Issue</button>
    </div>
    <div class="col-md-7 returnButton">
      <button type="button" class="btn btn-grey btn-md">Return</button>
    </div>
    </div>
</div>
-->

<!--<router-outlet></router-outlet>-->

<div class="footer">


  
</div>